In [1]:
#ques 1
"In Ordinal Ecoding the categorical varibles are encoded by the sequence thier order, while in Label Encoding there is no order of varibales."

'In Ordinal Ecoding the categorical varibles are encoded by the sequence thier order, while in Label Encoding there is no order of varibales.'

In [2]:
#ques 2
"In Target Guided Encoding, encoding labels are assisgned by changing them by value which doesnot affect the target variables."

import seaborn as sns
df = sns.load_dataset('iris')
df['sepal_length_encoded'] = df['species'].map(df.groupby('species')['sepal_length'].mean())
df

,sepal_length,sepal_width,petal_length,petal_width,species,sepal_length_encoded
0,5.1,3.5,1.4,0.2,setosa,5.006
1,4.9,3.0,1.4,0.2,setosa,5.006
2,4.7,3.2,1.3,0.2,setosa,5.006
3,4.6,3.1,1.5,0.2,setosa,5.006
4,5.0,3.6,1.4,0.2,setosa,5.006
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,6.588
146,6.3,2.5,5.0,1.9,virginica,6.588
147,6.5,3.0,5.2,2.0,virginica,6.588
148,6.2,3.4,5.4,2.3,virginica,6.588
149,5.9,3.0,5.1,1.8,virginica,6.588

In [3]:
# ques 3
"Covariance measures the relation between the two variables."
"Covariance is calculated by np.cov() function."

'Covariance is calculated by np.cov() function.'

In [4]:
#ques 4
import numpy as np
import pandas as pd

from sklearn.preprocessing import OrdinalEncoder
sf = pd.DataFrame({'Color': ['red', 'green', 'blue'], 'Size': ['small','medium','large'], 'Material': ['wood','metal','plastic']})

encoder = OrdinalEncoder(categories = [['small','medium','large']])
sf['Size_encoded'] = pd.DataFrame(encoder.fit_transform(sf[['Size']]))
sf

   Color    Size Material  Size_encoded
0    red   small     wood           0.0
1  green  medium    metal           1.0
2   blue   large  plastic           2.0

In [8]:
#ques 6
print('''
For gender: Nominal Encoding
For Educational level: Ordinal Encoding
for employment: Nominal encoding
''')

For gender: Nominal Encoding
For Educational level: Ordinal Encoding
for employment: Nominal encoding

In [12]:
#ques 7 
df = pd.DataFrame({'Temperature': [24,30,28,42,38,40], 'Humidity': [64,45,50,29,31,30], 'weather':['Sunny','cloudy','Rainy','Sunny', 'cloudy', 'Rainy'], 'wind direction': ['North','South', 'East','West','South', 'East']})
df.cov()
print('covariance is ')

             Temperature  Humidity
Temperature    53.466667    -100.2
Humidity     -100.200000     197.9