In [ ]:
#first question

In [2]:
ask = int(input("enter the percentage obtaine: "))
if ask<=60:
    print("Grade obtained is, 'D'.")
elif ask<=80:
    print("Grade obtained is, 'C'.")
elif ask<=90:
    print("Grade obtained is, 'B'.")
else:
    print("Grade obtained is, 'A'.")

enter the percentage obtaine: 85
Grade obtained is, 'B'.

In [ ]:
#second question

In [5]:
cost = int(input("enter the cost price of your bike: "))
if cost>0:
    if cost<=50000:
        print("You need to pay tax amount at 5%.")
    elif cost<=100000:
        print("You need to pay tax amount at 10%.")
    else:
        print(" You need to pay tax amount at 15%.")
else:
    print("enter a valid number")

enter the cost price of your bike: 8546
You need to pay tax amount at 5%.

In [ ]:
#third question

In [6]:
ask = input("enter the city name: ")
ask = ask.lower()
if ask=='delhi':
    print("Monument in this city is Red fort.")
elif ask=='agra':
    print("Monument in this city is Tajmahal.")
elif ask=='jaipur':
    print("Monument in this city is Jalmahal.")
else:
    print("invalid name of city")

enter the city name: delhi
Monument in this city is Red fort.

In [ ]:
#fourth question

In [7]:
n = int(input("enter a number: "))
i=0
while n>3:
    n=n/3
    i+=1

print("the number of times n can be divided by three is: ", i)

enter a number: 65
the number of times n can be divided by three is:  3

In [ ]:
#fifth question

In [ ]:
'''While loop is used when we don't know the how many times a loop is to be run for a given condition'''

In [ ]:
# 6th question

In [8]:
i=0
print("the first pattern")
while i<10:
    print(i*'*')
    i=i+1
while i<20:
    print((20-i)*'*')
    i=i+1
    
print("second pattern")
n = 1
while n<=10:
    print(n*'$')
    print((10-n)*'$')
    n=n+1
print("third pattern")
z=0
while z<=10:
    print(z*' ',5*'#',(10-z)*' ',5*'#')
    z+=1

the first pattern

*
**
***
****
*****
******
*******
********
*********
**********
*********
********
*******
******
*****
****
***
**
*
second pattern
$
$$$$$$$$$
$$
$$$$$$$$
$$$
$$$$$$$
$$$$
$$$$$$
$$$$$
$$$$$
$$$$$$
$$$$
$$$$$$$
$$$
$$$$$$$$
$$
$$$$$$$$$
$
$$$$$$$$$$

third pattern
 #####            #####
  #####           #####
   #####          #####
    #####         #####
     #####        #####
      #####       #####
       #####      #####
        #####     #####
         #####    #####
          #####   #####
           #####  #####

In [ ]:
#7th question

In [9]:
i=1
while i<=10 and i>0:
    print(11-i,end=',')
    i=i+1

10,9,8,7,6,5,4,3,2,1,